.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.gold {
    background: gold;
}

.gold-text {
    color: #0d5ece;
}

.cool {
    background: blue;
}

.cool-text {
    color: yellow;
}

.free {
    background: white;
}

.free-text {
    color: red;
}