
.someClass {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}
.someClass>* {
    flex: 1 1 50px;
}
.filterButtons {
    background-color: brown;
}
.activeFilter {
    background-color: aqua;
}

.removeButton {
    width: 50px;
}

.lowColorPriority {
    color: green;
    font-weight: bold;
}
.highColorPriority {
    color: red;
    font-weight: bold;
}
.affairName {
    margin-right: 100px;
}