.navlinks {
    display: flex;
    flex-direction: row;
    margin: 5px;
    transition-duration: 500ms;
    transform: translate(-200px);
}

.navlinks:hover {
    transition-duration: 500ms;
    transform: translate(0);
}

.items {
    margin-left: 10px;
    text-decoration: none;
}

.activeLink {
    color: yellow;
    text-decoration: none;
}

.menu {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin-left: 10px;
    background-color: #99ff99;
}

